/* 여기는 css파일입니다!!! */
.orange {
    background-color: orange
}
.purple {
    color: plum;
}
.red {
    background-color: salmon
}
#yellow {
    color: bisque
}
#skyblue{
    background-color: skyblue
}